language: node_js

node_js:
  - 12

branches:
  only:
    - master

script:
  - echo "No tests"

after_script:
  - ssh -i ./deploy_key travis@$ip "cd /var/aeracord-website && git pull && docker-compose up -d --build"

before_install:
  - openssl aes-256-cbc -K $encrypted_189e52c2c347_key -iv $encrypted_189e52c2c347_iv -in deploy_key.enc -out ./deploy_key -d
  - chmod 600 ./deploy_key
  - echo $known_host >> $HOME/.ssh/known_hosts