@import "../global";

#horizontal-component {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;

    @media screen and (max-width: 1020px) {
        flex-direction: column;
    }

    &.reflected {
        flex-direction: row-reverse;

        @media screen and (max-width: 1020px) {
            flex-direction: column;
        }
    }

    .half {
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1020px) {
            width: 100%;
        }
    }
}