@import "../global";

#guides {
    .basics {
        grid-template-columns: repeat(8, auto);

        .main {
            grid-column: span 4;
        }

        .main-small {
            grid-column: span 2;
        }

        .thin {
            grid-column: span 4;
        }

        @media screen and (max-width: 1400px) {
            grid-template-columns: repeat(6, auto);

            .main, .main-small {
                grid-column: span 2;
            }

            .thin {
                grid-column: span 3;
            }
        }

        @media screen and (max-width: 1300px) {
            grid-template-columns: repeat(2, auto);

            .main {
                grid-column: span 2;
                grid-row: 1;
            }

            .main-small, .thin {
                grid-column: span 1;
            }
        }

        @media screen and (max-width: 700px) {
            grid-template-columns: repeat(1, auto);

            .main {
                grid-column: span 1;
                grid-row: 1;
            }

            .main-small, .thin {
                grid-column: span 1;
            }
        }
    }

    .caching {
        grid-template-columns: repeat(2, auto);

        .main {
            grid-column: span 1;
        }

        @media screen and (max-width: 700px) {
            grid-template-columns: repeat(1, auto);
        }
    }

    .contributing {
        grid-template-columns: repeat(12, auto);

        .main {
            grid-column: span 6;
        }

        .main-small {
            grid-column: span 3;
        }

        .other {
            grid-column: span 4;
        }

        @media screen and (max-width: 1400px) {
            grid-template-columns: repeat(3, auto);

            .main, .main-small, .other {
                grid-column: span 1;
            }
        }

        @media screen and (max-width: 1300px) {
            grid-template-columns: repeat(2, auto);

            .main {
                grid-column: span 2;
                grid-row: 1;
            }

            .main-small, .other {
                grid-column: span 1;

                &.last {
                    grid-column: span 2;
                }
            }
        }

        @media screen and (max-width: 700px) {
            grid-template-columns: repeat(1, auto);

            .main {
                grid-column: span 1;
                grid-row: 1;
            }

            .main-small, .other {
                grid-column: span 1;

                &.last {
                    grid-column: span 1;
                }
            }
        }
    }
}