@import "../global";

#index {
    .intro-wrapper {
        width: 100%;
        height: calc(100vh - 65px);
        margin-top: 65px;

        @media screen and (max-width: 1020px) {
            height: calc(200vh - 65px);
        }

        .intro {
            .title {
                display: inline-block;
                color: #98b3f7;
                font-family: "Apercu Pro Bold";
                font-size: 85px;
                margin: auto;
                @include center;
            }

            .description {
                color: white;
                font-family: "Apercu Pro";
                font-size: 24px;
                text-align: center;
                margin: 0px;
                margin-top: 15px;
                @include center;

                @media screen and (max-width: 1020px) {
                    width: 80%;
                }
            }

            .buttons {
                display: flex;
                width: 90%;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                margin-top: 15vh;
                @include center;

                @media screen and (max-width: 475px) {
                    flex-direction: column;
                }

                .main-button {
                    color: white;
                    font-family: "Apercu Pro";
                    font-size: 20px;
                    text-decoration: none;
                    background-color: var(--primary-color);
                    border-radius: 5px;
                    padding: 10px 20px;
                    margin: 0px 35px;
                    transition: 0.25s;

                    &:hover {
                        box-shadow: 4px -4px 0px 0px var(--accent-color);
                    }
                }

                .button {
                    color: var(--text-color);
                    font-family: "Apercu Pro";
                    font-size: 20px;
                    text-decoration: none;
                    margin: 15px 0px;
                    cursor: pointer;

                    &:hover {
                        color: var(--accent-color);
                    }
                }
            }
        }
    }

    .feature-wrapper {
        width: 100%;
        height: calc(100vh - 65px);
        margin-top: 65px;

        @media screen and (max-width: 1020px) {
            height: calc(200vh - 65px);
        }

        .feature {
            .title {
                display: inline-block;
                width: 100%;
                color: #98b3f7;
                font-family: "Apercu Pro Bold";
                font-size: 45px;
                text-align: center;
                margin: auto;
            }

            .description {
                color: white;
                font-family: "Apercu Pro";
                font-size: 20px;
                text-align: center;
                margin: 0px;
                margin-top: 15px;
                @include center;

                @media screen and (max-width: 1020px) {
                    width: 80%;
                }

                a {
                    color: var(--text-color);
                }

                code {
                    font-family: "Apercu Pro Mono";
                    font-size: 16px;
                    background-color: var(--codeblock-background-color);
                    border-radius: 5px;
                    padding: 2px 7px;
                }
            }

            .learn-more {
                display: inline-block;
                margin-top: 65px;
                @include center;

                .text {
                    color: #98b3f7;
                    font-family: "Apercu Pro";
                    font-size: 20px;
                    margin-bottom: 10px;
                    margin-left: 20px;
                }

                .button {
                    display: inline-block;
                    color: white;
                    font-family: "Apercu Pro";
                    font-size: 20px;
                    text-decoration: none;
                    white-space: nowrap;
                    background-color: var(--primary-color);
                    border-radius: 5px;
                    padding: 10px 20px;
                    transition: 0.25s;

                    &:hover {
                        box-shadow: 4px -4px 0px 0px var(--accent-color);
                    }
                }
            }
        }

        .image {
            width: auto;
            height: 80%;
        }
    }

    .wave {
        min-width: 100%;
        height: 250px;
        margin-bottom: -10px;
    }

    .bottom-links {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        background-color: #223859;
        padding-bottom: 100px;

        flex-direction: column;

        .button {
            display: inline-block;
            color: white;
            font-family: "Apercu Pro";
            font-size: 20px;
            text-decoration: none;
            background-color: var(--primary-color);
            border-radius: 5px;
            padding: 10px 20px;
            transition: 0.25s;

            &:hover {
                box-shadow: 4px -4px 0px 0px var(--accent-color);
            }
        }

        .link {
            color: #98b3f7;
            font-family: "Apercu Pro";
            font-size: 20px;
            text-decoration: none;
            margin-top: 10px;
        }
    }
}